form {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

button {
    margin: 20px 15px 0px 0px;
    background-color: #0ff;
    color: black;
}

button:hover {
    background-color: #101010;
    color: #0ff;
}

.formulario {
    width: 60%;
    margin: auto;
    background-color: transparent;
    color: rgb(245, 241, 241);
    padding-top: 50px;
}

.titulo {
    text-align: center;
    padding-bottom: 25px;
}