.home {
    background-color: #101010;
    text-align: center;
}

.titulo {
    font-size: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ss {
    margin: auto;
    width: 1400px;
}

.conteudo {
    display: table;
}

.conteudo .texto {
    display: table-cell;
    float: left;
    width: 600px;
    padding-right: 20px;
    padding-top: 130px;
}

.conteudo .video {
    display: table-cell;
    float: left;
    padding-left: 20px;
    padding-top: 130px;
}