<mat-card class="home mat-elevation-z3">
    <mat-card-title class="titulo">
        Secretaria <span class="azul">Virtual</span>
    </mat-card-title>
</mat-card>

<section class="ss">
    <div class="conteudo">
        <div class="texto">
            <p> hkdjfh sdjkfh djsfhdjkf skjdhdf khdfk dhskjhf kjhdfk jdhd fhsd kfhsdkhkdshd ksdhd sdjkhdjfk hsdjkfh ksjh jkshfkj shdksj h dkjh ksjdh fjkdshdjkf sdhd kjdhdf kshf kshd kfdshf jkshfkjdshd fjksdhdkjsdhd kjdhd dksk dhdjhd ksjhfksdhfksdhfksdhfkdshfksdhf
                kshf kd dhfk sdhfksdhd fksd fkdhsd kfhkshfkdshdk fhkshdfkshdfsjhd fksdfhksf dshjfksh jkhd kjhfksj hd jksdh kjdshkj sh ksdjhkjsdhkfsdhfjkdshf ksdhd fksdhfks jkhsjkdhfjksdhd fksdhfkdsjhfksdjfhkdjshd fkjsdhf kjdshdf kjdshfkjsdhf ksdhfksdhfkshfksdhfdskhdfksf
                j jlsdjf s jsldfjj slj lsdj lsdj ls jlsdj fsldjf jsldjf lsjf slj l sjdfjsjflsdjfsjflsdfjsldjfldsjflfjsdjflsfjldsjfdlsjdflsdjfj kshf kd dhfk sdhfksdhd fksd fkdhsd kfhkshfkdshdk fhkshdfkshdfsjhd fksdfhksf dshjfksh jkhd kjhfksj hd jksdh kjdshkj
                sh ksdjhkjsdhkfsdhfsdssdsdsdsjfj
            </p>
            <p>
                sdkhfkshdfjshkshfjkshkfdhfjkshfksf hkfjdshfksdhfksjd h kdshdfkdshfkj dshd fkdshksdhfsdkhk sdh kddkjfsdh ksdhfkjdshfksdfhksdfh hkdjfh sdjkfh djsfhdjkf skjdhdf khdfk dhskjhf kjhdfk jdhd fhsd kfhsdkhkdshd ksdhd sdjkhdjfk hsdjkfh ksjh jkshfkj shdksj h dkjh
                ksjdh fjkdshdjkf sdhd kjdhdf kshf kshd kfdshf jkshfkjdshd fjksdhdkjsdhd kjdhd dksk dhdjhd ksjhfksdhfksdhfksdhfkdshfksdhf kshf kd dhfk sdhfksdhd fksd fkdhsd kfhkshfkdshdkfhkshdfkshdfsjhdfksdfhksf dshjfskdhfkdshfkdhfkshdfkshdfkshdfksdhdfh
                kshf kjsdhkfsdhfjkdshf ksdhd fksdhfks jkhsjkdhfjksdhd fksdhfkdsjhfksdjfhkdjshd fkjsdhf kjdshdf kjdshfkjsdhf ksdhfksdhfkshfksdhfdskhdfksf jjf s jsldfjj slj lsdj lsdj ls jlsdj fsldjf jsldjf lsjf slj l sjdfjsjflsdjfsjflsdfjsldjfldsjflfjsdjflsfjldsjfdlsjdflsdjfj
                kshf kd dhfk sdhfksdhd fksd fkdhsd kfhkshfkdshdk fhkshdfkshdfsjhd fksdfhksf dshjfksh jkhd kjhfksj hd jksdh kjdshkj sh ksdjhkjsdhkfsdhfjkdshf ksdhd fksdhfks jkhsjkdhfjksdhd fksdhfkdsjhfksdjfhkdjshd fkjsdhf kjdshdf kjdshfkjsdhf ksdhfksdhfkshfksdhfdskhdfksf
                jhfskdhfkdshfkdhfksh dfkshdfkshdfksdhd fhdfkdhdfkhdfkdf jdfs sdl jsd jfsldj lsj sldj flsdj fsld jfsj dfjsljflj lsj lsdfj jlsdjf l jlsdjf s jsldfjj slj lsdj lsdj ls jlsdj fsldjf jsldjf lsjf slj l sjdfjsjflsdjfsjflsdfjsldjfldsjflfjsdjflsfjldsjfdlsjdflsdjfj
            </p>
        </div>

        <div class="video">
            <iframe width="760" height="515" src="https://www.youtube.com/embed/dKXWB8E198Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>