<mat-card class="formulario">
    <mat-card-title class="titulo">
        Alterar dados do <span Azul>Participante</span>
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="aluno.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="aluno.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Observação" [(ngModel)]="aluno.observacoes" name="observacoes">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Turma" [(ngModel)]="aluno.turma" name="turma">
        </mat-form-field>

    </form>

    <button class="bt-atualizar" mat-raised-button (click)="atualizar_p()">
        Atualizar
    </button>

    <button class="bt-cancelar" mat-raised-button (click)="cancelar()">
        Cancelar
    </button>

</mat-card>