table {
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    background-color: transparent;
    color: #f5f1f1;
}

td {
    font-size: 1.1rem;
}

.tdaction {
    width: 68px;
}

i {
    align-items: center;
    padding: 5px;
}

i.edit {
    color: rgb(129, 165, 76);
}

i.delete {
    color: rgb(204, 92, 92);
}