table {
    width: 80%;
    align-items: center;
    margin: auto;
    background-color: transparent;
    color: rgb(245, 241, 241);
    font-size: 1rem;
}

i {
    align-items: center;
    padding: 5px;
}

i.edit {
    color: rgb(129, 165, 76);
}

i.delete {
    color: rgb(204, 92, 92);
}