.texto {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    justify-content: flex-end;
    background-color: #080808;
    font-size: 1rem;
}

.texto:hover {
    background-color: #202020;
}