form {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.formulario {
    width: 60%;
    margin: auto;
    background-color: transparent;
    color: #f5f1f1;
    padding-top: 20px;
}

.titulo {
    text-align: center;
    padding-bottom: 15px;
}