/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #131313;
    text-decoration: none;
}

.azul {
    color: #0ff;
}

.v-middle {
    vertical-align: middle;
    max-height: 35px;
    padding-left: 4px;
    padding-right: 4px;
}

.nd {
    text-decoration: none;
}

a {
    color: rgb(156, 156, 156);
}

a:hover {
    text-decoration: none !important;
    color: #0ff;
}