<mat-card class="home mat-elevation-z3">
    <mat-card-title class="titulo">
        Cadastro de <span Azul>Participantes</span>
    </mat-card-title>
</mat-card>

<app-aluno-read></app-aluno-read>

<button mat-raised-button (click)="navnovoaluno()">
    Novo Participante
</button>

<mat-card class="home mat-elevation-z3">
    <mat-card-title class="titulo">
        Lista de <span Azul>Turmas</span>
    </mat-card-title>
</mat-card>

<app-aluno-read-lista></app-aluno-read-lista>


<button mat-raised-button (click)="navnovaturma()">
    Nova Turma
</button>